- content_for(:title, 'Your Profile')

.container
	%legend Create Profile
	  
	%table.table.table-striped.table-hover
		.thead
			%tr
				%th First Name
				%th Last Name
				%th Email
				%th Password
				%th Phone Number
				%th Birthday
				%th Update Profile
				%th Delete Profile
		.tbody
			- @users.each do |user|
				%tr
					%td= user.first_name
					%td= user.last_name
					%td= user.email
					%td= user.password
					%td= phone(user.phone_number)
					%td= format_date(user.birthday)
					%td= button_to 'Edit', edit_user_path(user), method: "get", :class => "btn btn-xs btn-warning"
					%td= button_to 'Delete', user, method: "delete", :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure you want to delete?" }
	= link_to "Add a User", new_user_path, :class => "btn btn-success"