%h2 New User  

%form.form-horizontal
	%fieldset
		%legend Create Your Profile
			%form-group
			= form_for @user do |user|
				- if @user.errors.any?
					#error_explanation
						%h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
						%ul
							- @user.errors.full_message.each do |msg|
							%li= msg
				= user.first_name :first_name, :class => "label col-lg-2 control-label"
				= user.last_name :last_name
				= user.email :email
				= user.password :password
				= user.phone_number :phone_number
				= user.birthday :birthday, :class => "date-select"
				= user.submit "Create Profile", :class => "btn btn-success"



/ %form.form-horizontal
/   %fieldset
/     %legend Legend
/     .form-group
/       %label.col-lg-2.control-label{for: "inputEmail"} Email
/       .col-lg-10
/         %input#inputEmail.form-control{placeholder: "Email", type: "text"}/




/ / = To-Do Form = /
/ %p.lead Add a new to-do to your list.
/ = form_for(@to_do, layout: :horizontal, label_col: "col-md-3", control_col: "col-md-7") do |f|
/   - if @to_do.errors.any?
/     #error_explanation
/       %h2= "#{pluralize(@to_do.errors.count, "error")} prohibited this to_do from being saved:"
/       %ul
/         - @to_do.errors.full_messages.each do |msg|
/           %li= msg
/   = f.text_field :task_name
/   = f.date_select :due_date
/   = f.select :assignee_id, Assignee.all.collect { |a| [a.assignee_name, a.id] }, include_blank: true
/   = f.submit 'Add To-Do', :class => "btn btn-success col-md-4"
/   .col-md-1
  
/   / = Back Button = /
/   %a.btn.btn-primary.col-md-4{href: to_dos_path, method: "get"} Back to List
/ .col-md-4