=f.label "Transaction by:"
%br
= f.select :user_id, User.all.collect {|u| [u.first_name + u.last_name, u.id]}
%br
=f.label "Transaction with:"
%br
= f.text_field :name
%br
= f.label :amount
%br
= f.text_field :amount
%br
= f.label :account_id
%br
= f.select :account_id, Account.all.collect {|a| [ a.account_type, a.id ]}
%br
= f.label :category
%br
=f.text_field :category
/ =f.select :category, Transaction.all.collect {|t| [t.category, t.id]}, {include_blank: "Other"}
%br
=f.label :transaction_date
=f.date_field :transaction_date
%br
Money gained or spent?
%br
= f.label "Gained"
= f.radio_button :transaction_type, "Incoming"
= f.label "Spent"
= f.radio_button :transaction_type, "Outgoing"

%br
= f.submit