= f.label :amount
%br
= f.text_field :amount
%br
= f.label :name
%br
= f.text_field :name
%br
%br
= f.label :account_id
%br
= f.select :account_id, Account.all.collect {|a| [ a.account_type, a.id ]}
%br
= f.label :category
%br
/ =f.text_field :category
=f.select :category, Transaction.all.collect {|t| [t.category, t.id]}, {include_blank: "Other"}
%br
Money gained or spent?
%br
= f.label "Gained"
= f.radio_button :transaction_type, "Deposit"
= f.label "Spent"
= f.radio_button :transaction_type, "Withdrawal"

%br
= f.submit