.container
	%legend Bank Accounts
	%table.table.table-striped.table-hover
		.thead
			%tr
				%th= "Account type"
				%th= "Bank Name"
				%th= "Balance"
				%th= "User name"
				%th= "Edit"
				%th= "Remove"
		.tbody
			- @accounts.each do |a|
				%tr						
					=render 'rows', a: a
	%br
	= button_to "Add an Account", new_account_path, method: :get, :class => "btn btn-success"